@page "/Encuestas/Delete/{ModeloID:int}"

@inject EncuestasService encuestasService
@inject CiudadesService ciudadesService
@inject NavigationManager navigation

@rendermode InteractiveServer

<PageTitle>Delete</PageTitle>
<div class="container mb-4">
	<div class="card">
		<div class="row" style="background-color:white; padding:10px; margin:10px;">
			<div class="col">
				<div class="text-left">
					<h2 class="text-black">Eliminar Modelo</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="card">
		<div class="card-body">
			<EditForm Model="Encuesta" OnValidSubmit="Eliminar">
				<div class="row mb-3">
					<div class="col">
						<label><strong>ID</strong></label>
						<InputNumber class="form-control" @bind-Value="Encuesta.EncuestaId" readonly disabled ></InputNumber>
					</div>
					<div class="col">
						<label><strong>Asignatura</strong></label>
						<InputText class="form-control" readonly disabled @bind-Value="Encuesta.Asignatura"></InputText>
					</div>
					<div class="col">
						<label><strong>Fecha</strong></label>
						<InputDate class="form-control" @bind-Value="Encuesta.Fecha" readonly disabled></InputDate>
					</div>
				</div>

				<div class="container mb-3">
					<div class="border border-success p-3 mt-3">
						<div>
							<span>Detalles</span>
						</div>

						<table class="table table-sm table-hover table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Ciudad</th>
									<th>Monto</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var detalle in Encuesta.Detalle)
								{
									var articulo = ListaArticulos.SingleOrDefault(a => a.CiudadId == detalle.CiudadId);
									<tr>
										<td>@articulo?.CiudadId</td>
										<td>@articulo?.Nombre</td>
										<td>@detalle.Monto.ToString("N2")</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>

				<div class="text-center">
					<button class="btn btn-danger bi bi-trash3">   Eliminar</button>
					<a href="/Encuestas/Index" class="btn btn-sm btn-secondary bi bi-arrow-left-circle">   Volver</a>
				</div>
			</EditForm>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public int ModeloID { get; set; }
	[Inject]
	protected ToastService ToastService { get; set; }
	public Encuestas Encuesta { get; set; } = new();
	public EncuestaDetalle ModeloDetalle { get; set; } = new();
	public List<Ciudades> ListaArticulos { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		Encuesta = await encuestasService.Buscar(ModeloID);
		ListaArticulos = await ciudadesService.Listar(x => true);
	}

	public async Task Eliminar()
	{
		await encuestasService.Eliminar(ModeloID);
		ToastService.Notify(new(ToastType.Success, "Exito", $"La encuesta se ha borrado correctamente"));
		navigation.NavigateTo("/Encuestas/Index");
	}
}